/* =============================================================================
   Custom global styles
   ========================================================================== */

@font-face {
    font-family: 'Miso';
    src: url('../fonts/miso.eot');
    src: url('../fonts/miso.eot?#iefix') format('embedded-opentype'),
         url('../fonts/miso.woff') format('woff'),
         url('../fonts/miso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miso';
    src: url('../fonts/miso-bold.eot');
    src: url('../fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/miso-bold.woff') format('woff'),
         url('../fonts/miso-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.no-js body {
    display: none;
}

h1,
h2 {
    margin: 5px 0 10px 0;
    font-size: 130%;
}

h3,
h4 {
    margin: 4px 0 8px 0;
    font-size: 115%;
}

h5,
h6 {
    margin: 3px 0 6px 0;
    font-size: 100%;
}

p,
ul,
ol {
    margin: 0 0 6px 0;
}

ul,
ol {
    padding: 0 0 0 20px;
}

li {
    margin: 0 0 1px 0;
}

a,
a:hover,
label {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover,
a:active,
a:focus,
label:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.busy,
.busy * {
    cursor: wait;
}

.hotkey {
    text-decoration: underline;
}

.button {
    padding: 5px 20px;
    background-color: rgb(51, 51, 51);
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.25);
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.button:hover,
.button:active,
.button:focus {
    background-color: rgb(85, 85, 85);
    text-decoration: none;
}

.button,
.button:hover,
.button:focus,
.button:visited {
    color: rgb(255, 255, 255);
}

.button:focus,
.button:active {
    outline: none;
}

.button:active,
.button.pressed {
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.75);
    transition-duration: 0.1s;
}

.textinput {
    padding: 3px 5px;
    border-width: 0;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 1);
    color: rgb(68, 68, 68);
    font-size: 13px;
    line-height: 16px;
}

/* =============================================================================
   Custom local styles
   ========================================================================== */

html,
body {
    /* display: box; */ display: -moz-box; display: -webkit-box; display: box; width: 100%; height: 100%;
    /* box-orient: vertical; */ -moz-box-orient: vertical; -webkit-box-orient: vertical; box-orient: vertical;
    /* box-flex: 1; */ -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 0, 0);
}

.top {
    color: rgb(255, 255, 255);
}

.topbar {
    padding: 0 20px 10px 20px;
    background: rgb(68, 68, 68);
    overflow: auto;
}

.logo {
    float: left;
    height: 30px;
    margin: 10px 30px 0 0;
    padding: 0 0 0 40px;
    background: url('armadillog.png') 0 0 no-repeat;
    font-family: 'Miso', Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 30px;
    cursor: default;
    color: rgb(255, 255, 255);
}

.logo h3 {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.logo .beta {
    font-size: 14px;
}

.ennovum {
    float: right;
}

.ennovum-link {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 10px;
    background: url('ennovum.png') 0 0 no-repeat;
    text-indent: -1000px;
    overflow: hidden;
}

.mainmenu {
    float: left;
}

.mainmenu-list {
    float: left;
    margin: 10px 10px 0 0;
    padding: 0;
    background: rgba(42, 42, 42, 1);
    border-radius: 5px;
    list-style: none;
    overflow: auto;
}

.mainmenu-item {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

.mainmenu-link {
    display: block;
    padding: 5px 20px;
    border-radius: 0;
    text-decoration: none;
    font-weight: bold;
}

.input-switch {
    background: rgba(102, 102, 153, 1);
}

.input-switch:hover,
.input-switch:focus {
    background: rgba(102, 102, 187, 1);
}

.filter-switch {
    background: rgba(102, 153, 102, 1);
}

.filter-switch:hover,
.filter-switch:focus {
    background: rgba(102, 187, 102, 1);
}

.examine-switch {
    background: rgba(153, 102, 102, 1);
}

.examine-switch:hover,
.examine-switch:focus {
    background: rgba(187, 102, 102, 1);
}

.manual-switch {
    background: rgba(102, 153, 153, 1);
}

.manual-switch:hover,
.manual-switch:focus {
    background: rgba(102, 187, 187, 1);
}

.drawer-wrapper {
    background: #888;
}

.input-wrapper {
    background: rgba(102, 102, 153, 1);
}

.filter-wrapper {
    background: rgba(102, 153, 102, 1);
}

.examine-wrapper {
    background: rgba(153, 102, 102, 1);
}

.manual-wrapper {
    background: rgba(102, 153, 153, 1);
}

.drawer {
    padding: 0 20px 10px 20px;
    overflow: auto;
}

.drawer-section {
    margin: 10px 0 0 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: auto;
}

.drawer-fold {
    display: block;
    background: rgba(0, 0, 0, 0.2) url('fold.png') 50% 50% no-repeat;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-indent: -1000000px;
    overflow: hidden;
}

.drawer-fold:hover,
.drawer-fold:focus {
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.input-clear-box,
.input-file-box,
.input-paste-box,
.input-url-box {
    float: left;
    padding: 10px 20px 0 0;
}

/* TODO remove */
.input-url-box {
    display: none;
}
/* end TODO */

.input-clear-label {
    display: block;
    float: left;
    min-height: 16px;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    background: rgb(221, 221, 221);
    color: rgb(85, 85, 85);
}

.input-url-input,
.input-paste-input {
    display: block;
    float: left;
    width: 100px;
    height: 16px;
    padding: 5px 10px;
    border-width: 0;
    border-radius: 5px 0 0 5px;
    transition-property: width, max-height;
    transition-delay: 0.5s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.input-url-input:focus,
.input-paste-input:focus {
    width: 400px;
    transition-delay: 0s;
}

.input-paste-input {
    min-height: 16px;
    max-height: 16px;
    resize: none;
}

.input-paste-input:focus {
    max-height: 200px;
    resize: vertical;
}

.input-clear-button,
.input-file-button,
.input-url-button,
.input-paste-button {
    display: block;
    float: left;
    padding-left: 30px;
}

.input-clear-button {
    padding-left: 30px;
    background-image: url('icons.png');
    background-position: 10px -44px;
    background-repeat: no-repeat;
    border-radius: 0 5px 5px 0;
}

.input-file-button {
    padding-left: 30px;
    background-image: url('icons.png');
    background-position: 10px -144px;
    background-repeat: no-repeat;
}

.input-url-button {
    padding-left: 30px;
    background-image: url('icons.png');
    background-position: 10px -344px;
    background-repeat: no-repeat;
    border-radius: 0 5px 5px 0;
}

.input-paste-button {
    padding-left: 30px;
    background-image: url('icons.png');
    background-position: 10px -194px;
    background-repeat: no-repeat;
    border-radius: 0 5px 5px 0;
}

.filter-list {
    margin: 10px 0 0 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: auto;
}

.filter-item {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(102, 153, 102, 1);
    overflow: auto;
}

.filter-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top-width: 0;
}

.filter-header {
    padding: 0 0 5px 0;
    overflow: auto;
}

.filter-title,
.filter-mute,
.filter-move-up,
.filter-move-down,
.filter-remove {
    display: block;
    float: left;
    padding: 0 18px 2px 0;
}

.filter-title {
    font-size: 14px;
    font-weight: bold;
}

.filter-mute-checkbox,
.filter-mute-label {
    display: block;
    float: left;
}

.filter-mute-checkbox {
    margin: 2px 5px 0 0;
}

.filter-move-up,
.filter-move-down,
.filter-remove {
    padding-left: 20px;
    background-image: url('icons.png');
    background-repeat: no-repeat;
}

.filter-move-up {
    background-position: 0 -249px;
}

.filter-move-down {
    background-position: 0 -299px;
}

.filter-remove {
    background-position: 0 -49px;
}

.filter-action-box,
.filter-search-box,
.filter-search-box {
    margin: 0 0 2px 0;
    overflow: auto;
}

.filter-affect-type-list,
.filter-value-input,
.filter-value-type-list,
.filter-highlight-type-list {
    float: left;
}

.filter-affect-type-item,
.filter-value-type-item,
.filter-highlight-type-item {
    float: left;
    margin: 2px 16px 2px 0;
}

.filter-affect-type-radio,
.filter-value-type-radio,
.filter-highlight-type-radio {
    display: block;
    float: left;
    margin: 2px 3px 0 0;
}

.filter-affect-type-label,
.filter-value-type-label,
.filter-highlight-type-label {
    display: block;
    float: left;
}

.filter-value-input {
    width: 500px;
    margin-right: 10px;
}

.filter-highlight-type-label {
    background: rgb(255, 255, 255);
    padding: 1px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Source Code Pro', monospace;
}

.filter-highlight-type-label > span {
    display: block;
    padding: 0 2px;
    border-radius: inherit;
    line-height: 15px;
}

.filter-button-box {
    overflow: auto;
}

.filter-button-clear,
.filter-button-add,
.filter-button-submit {
    display: block;
    float: left;
    margin: 10px 20px 0 0;
    padding-left: 30px;
    background-image: url('icons.png');
    background-repeat: no-repeat;
}

.filter-button-clear {
    background-position: 10px -44px;
}

.filter-button-add {
    background-position: 10px 6px;
}

.filter-button-submit {
    background-position: 10px -94px;
}

.examine-raw-box,
.examine-filtered-box {
    margin-top: 10px;
}

.examine-raw-content,
.examine-filtered-content {
    height: 100px;
    min-height: 50px;
    max-height: 300px;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    line-height: 21px;
    overflow: auto;
    resize: vertical;
}

.main {
    /* display: box; */ display: -moz-box; display: -webkit-box; display: box;
    /* box-orient: vertical; */ -moz-box-orient: vertical; -webkit-box-orient: vertical; box-orient: vertical;
    /* box-flex: 1; */ -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1;
    overflow: auto;
}

.content-line-list {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    line-height: 15px;
}

.content-line-item {
    position: relative;
    min-height: 15px;
    padding: 1px 5px 1px 65px;
    counter-reset: numeration;
    cursor: default;
    white-space: pre;
}

.busy .content-line-item {
    cursor: wait;
}

.content-line-item:hover {
    background: rgb(238, 238, 238);
}

.content-line-item:before {
    content: counter(numeration);
    position: absolute;
    left: 0;
    display: block;
    float: left;
    width: 50px;
    padding: 1px 5px;
    background: rgba(221, 221, 221, 0.5);
    text-align: right;
}

.selected {
    background: rgba(255, 170, 170, 0.6);
}

.selected:hover,
.content-line-item.selected:hover {
    background: rgba(255, 136, 136, 0.6);
}

.marked {
    background: rgba(170, 170, 255, 0.6);
}

.marked:hover,
.content-line-item.marked:hover {
    background: rgba(136, 136, 255, 0.6);
}

.selected.marked {
    background: rgba(204, 170, 204, 0.6);
}

.selected.marked:hover,
.content-line-item.selected.marked:hover {
    background: rgba(204, 136, 204, 0.6);
}

.highlight {
    border-radius: 3px;
}

.highlight-1 {
    background: rgba(170, 170, 255, 0.6);
}

.highlight-2 {
    background: rgba(0, 0, 170, 0.6);
    color: rgb(255, 255, 255);
}

.highlight-3 {
    background: rgba(170, 255, 170, 0.6);
}

.highlight-4 {
    background: rgba(0, 170, 0, 0.6);
    color: rgb(255, 255, 255);
}

.highlight-5 {
    background: rgba(255, 170, 170, 0.6);
}

.highlight-6 {
    background: rgba(170, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.highlight-7 {
    background: rgba(255, 255, 170, 0.6);
}

.highlight-8 {
    background: rgba(170, 170, 0, 0.6);
    color: rgb(255, 255, 255);
}

.highlight-9 {
    background: rgba(255, 170, 255, 0.6);
}

.highlight-10 {
    background: rgba(170, 0, 170, 0.6);
    color: rgb(255, 255, 255);
}

.highlight-11 {
    background: rgba(170, 255, 255, 0.6);
}

.highlight-12 {
    background: rgba(0, 170, 170, 0.6);
    color: rgb(255, 255, 255);
}
